{% extends 'skleton.html' %}
{% comment %} This is the title of skleton {% endcomment %}
{% block title %}Profile - Explore knowledge{% endblock title %}

{% comment %} This is the body of skleton {% endcomment %}
{% block body %}
{% comment %} this is search bar {% endcomment %}

    
        <div>
            <div class="banner"></div>
            <a href="/profile"><div class="nav-foot profile-photo profile-bg"></div> </a>
            <hr class="pro-line">
            <div class="showcase">
                <span class="case">
                    <div>
                        <img src="/static/img/like.svg" class="showcase-icon">
                    </div>
                    <b>45M</b>
                </span>
                <span class="case">
                    <div>
                        <img src="/static/img/follow.svg" class="showcase-icon">
                    </div>
                    <b>45M</b>
                </span>
                <span class="case">
                    <div>
                        <img src="/static/img/videos.svg" class="showcase-icon">
                    </div>
                    <b>45M</b>
                </span>
                <span class="case">
                    <div>
                        <img src="/static/img/star.svg" class="showcase-icon">
                    </div>
                    <b>45M</b>
                </span>
            </div>
        </div>
        <h1 class="video-heading pro-vid-header">Video Uploaded</h1>
    <section>
        <div class="container videos-lst l-mg">
            <div class="row">
                
                <div class="col">
                    <a href="/watch">
                        <div class="videoCard">
                            <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                            <div class="video-about">
                                <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                                <div class="vid-title">
                                    <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                                    <div class="rating">
                                        2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                                    </div>
                                    
                                </div>
                                <img src="/static/img/option-icon.svg" class="gray-200">
                            </div>
                        </div>
                    </a>
                  </div>
                
              
              <div class="col">
                <div class="videoCard">
                    <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                    <div class="video-about">
                        <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                        <div class="vid-title">
                            <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                            <div class="rating">
                                2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                            </div>
                            
                        </div>
                        <img src="/static/img/option-icon.svg" class="gray-200">
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="videoCard">
                    <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                    <div class="video-about">
                        <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                        <div class="vid-title">
                            <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                            <div class="rating">
                                2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                            </div>
                            
                        </div>
                        <img src="/static/img/option-icon.svg" class="gray-200">
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="videoCard">
                    <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                    <div class="video-about">
                        <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                        <div class="vid-title">
                            <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                            <div class="rating">
                                2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                            </div>
                            
                        </div>
                        <img src="/static/img/option-icon.svg" class="gray-200">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <script src="/static/js/text-overflow.js"></script>

{% endblock body %}