{% extends 'skleton.html' %}
{% comment %} This is the title of skleton {% endcomment %}
{% block title %}Devideos - Explore knowledge{% endblock title %}

{% comment %} This is the body of skleton {% endcomment %}
{% block body %}
{% comment %} this is search bar {% endcomment %}
    
        <div>
            <div class="mbl">
                <div class="nav-foot profile-photo mbl-subs img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
                <div class="nav-foot profile-photo mbl-subs  img-fluid"></div>
            </div>
            <div class="searchBar">
                <div class="nav-foot profile-photo subscrber img-fluid"></div>
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
                <input type="search" name="search" id="search" class="search" placeholder="Search or write a URL"><img src="/static/img/search.svg " id="searchIcon" class="searchIcon">
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
                <div class="nav-foot profile-photo subscrber  img-fluid"></div>
            </div>       
        </div>
   
    <section>
        <div class="container videos-lst">
            <div class="row">
                
                <div class="col">
                    <a href="/watch">
                        <div class="videoCard">
                            <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                            <div class="video-about">
                                <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                                <div class="vid-title">
                                    <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                                    <div class="rating">
                                        2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                                    </div>
                                    
                                </div>
                                <img src="/static/img/option-icon.svg" class="gray-200">
                            </div>
                        </div>
                    </a>
                  </div>
                
              
              <div class="col">
                <div class="videoCard">
                    <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                    <div class="video-about">
                        <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                        <div class="vid-title">
                            <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                            <div class="rating">
                                2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                            </div>
                            
                        </div>
                        <img src="/static/img/option-icon.svg" class="gray-200">
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="videoCard">
                    <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                    <div class="video-about">
                        <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                        <div class="vid-title">
                            <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                            <div class="rating">
                                2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                            </div>
                            
                        </div>
                        <img src="/static/img/option-icon.svg" class="gray-200">
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="videoCard">
                    <img src="/static/img/thumbnailDemo.svg" alt="" class="thumbnail img-fluid">
                    <div class="video-about">
                        <div class="profile-photo img-fluid"></div>&nbsp&nbsp
                        <div class="vid-title">
                            <b class="title-txt">Learn to build mobile Applications Using Flutter</b>
                            <div class="rating">
                                2.4 <img src="/static/img/star.svg" alt="" srcset=""> 2 months ago
                            </div>
                            
                        </div>
                        <img src="/static/img/option-icon.svg" class="gray-200">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <script src="/static/js/uihandler.js"></script>
    <script src="/static/js/text-overflow.js"></script>

{% endblock body %}